
  .carousel{
    height: 100vh;
    width: 100%;
    margin-top: 25px;
  }
  .carousel-item{
    height: 100vh;
    width: 100%;
  }
.landface{
  position: absolute;
  top: 60%;
}
.landface h2{
  color: white;
}
.landface p{
  width: 80%;
  color: white;
  
}
.LCardsDiv {
  width: 100%;
  display: flex;
}
.LCardsDiv ul {
  display: flex;
}
.LCardsDiv ul li {
  list-style: none;
  margin-left: 10px;
}
.LDispCard {
  width: 30vh;
  height: auto;
  background-color: white;
  border: 1px solid rgb(230, 228, 228);
  border-radius: 10px;
  padding: 5px;
}
.LDispCard center font {
  color: gray;
  font-size: 13px;
}
.LDispCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.perHead {
  font-size: 15px;
  color: gray;
  margin-right: 20px;
  margin-top: 7px;
}
.LLhead {
  width: 100%;
  margin-top: 20px;
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
  padding-right: 10px;
  text-align: center;
}
.LLBody{
  width: 100%;
  height: auto;
  margin-top: 36px;
  margin-left: 5px;
}
.btnSearch {
  background-color: white;
  color: green;
  border: none;
  border-radius: 7%;
  outline: 1px solid green;
  margin-left: 10px;
}
.btnSearch:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}
.subCounty {
  width: 70%;
  height: 26px;
  padding-left: 10px;
  border: 1px solid aliceblue;
  border-radius: 5px;
}
.subCounty:hover {
  border-style: groove;
  border: 1px solid rgb(26, 160, 82);
}
.table {
  width: 95%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.table thead tr {
  background-color: rgb(44, 46, 49);
  color: white;
  border: 1px solid gray;
}
.table thead tr th {
  text-align: start;
  padding-left: 3px;
  font-weight: 10;
  font-size: 13px;
}
.tr {
  border-collapse: collapse;
}

.table tbody tr td {
  border: 1px solid gray;
  border-collapse: collapse;
  font-size: 13px;
}
#tr:hover {
  background-color: aliceblue;
  color: green;
}
.btnViewTable{
  width: 120px;
  padding: 10px;
  background-color: rgb(44, 46, 49);
  color: white;
  border: none;
  border-radius: 10px;
  
}
.btnGetStarted{
  width: 120px;
  padding: 10px;
  background-color: white;
  outline: 1px solid rgb(44, 46, 49);
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}
.landingBox{
  width:100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: -25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.upcomingDiv0{
  width: 100%;
  height: 100%;
  outline: 1px gray solid;
  border-radius: 10px;

}
.landingnews{
  width: 100%;
  height: 100vh;
  padding-top: 10px;
}
.newsBodyCover{
  display: flex;
  margin-top: 20px;
}
.statsHead0{
  padding-left: 10px;
}
.statBody2{
  display: block;
  background-color: aliceblue;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.statBody2 strong{
  font-weight: 10;
}

@media only screen and (max-width: 650px) {
  .jumbotron{
    width: 90%;
    margin-top: 40px;
  }
  .statsHead0{
   margin-top: 20px;
  }
  .carousel{
    height: 50vh;
    width: 100%;
    margin-top: 43px;
  }
  .landingnews{
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    display: block;
  }
  .carousel-item{
    height: 50vh;
    width: 100%;
  }
.landface{
  position: absolute;
  top: 40%;
}
.landface h3{
  color: white;
}
.landface p{
  width: 80%;
  color: rgb(44, 46, 49);
  display: none;
}

  .LLBody{
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .table {
    width: auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .table thead tr {
    background-color: rgb(44, 46, 49);
    color: white;
    border: 1px solid gray;
  }
  .table thead tr th {
    text-align: start;
    padding-left: 3px;
    font-weight: 10;
    font-size: 13px;
  }
  .tr {
    border-collapse: collapse;
  }
  .table tbody tr td {
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 13px;
  }
  .statsTitle0{
    color: gray;
    font-weight: 10;
  }
  .carousel{
    height: 50vh;
  }
  .adsbox{
    width: 100%;
    height: 40px;
  }
  #tr:hover {
    background-color: aliceblue;
    color: green;
  }
  .LCardsDiv ul {
    display: flex;
    overflow: scroll;
  }
  .LCardsDiv ul {
    padding: 0px;
  }
  .LCardsDiv ul li {
    list-style: none;
    margin-left: 10px;
  }
  .LDispCard {
    width: auto;
    padding: 10px 20px;
  }
  .subCounty {
    width: 70%;
    height: auto;
  }
  .perHead {
    font-size: 15px;
    color: gray;
    margin-right: 4px;
  }
  .Lbox {
    padding-top: 0px;
  }
  .newsBodyCover{
    display: block;
  }
  .upMatchItem{
    width: 100%;
  }
}
