.fixtContDiv{
    width: 100%;
    height: auto;
    display: flex;
}
.upcomingDiv{
    width: 50%;
    height: 100%;
    outline: 1px gray solid;
    border-radius: 10px;
}
.fixturesDiv{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.upHeader{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(44, 46, 49);
    padding-top: 5px;
    padding-bottom: 5px;
}
.upHeader strong{
    color: white;
    padding: 10px;
}
.upHeader small{
    color: gray;
    padding: 10px;
}

.upMatchItem{
    width: 100%;
    height: auto;
    background-color: rgb(44, 46, 49);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.upbody{
    padding: 20px;
}
.upMatchItem header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
.upMatchItem header strong{
    font-size: 10px;
    color: gray;
}
.upMatchItem footer{
    color: white;
    display: flex;
    border-bottom: 1px solid gray;
}
.footfDiv1{
    width: 40%;
    height: 100%;
    padding-left: 40px;
}
.footfDiv2{
    width: 40%;
    height: 100%;
}
.footfDiv3{
    width: 45%;
    height: 100%;
    padding-right: 40px;
    text-align: end;

}
.footfDiv3 small{
    width: 100%;
    margin-left: auto;
}
.timeVenue{
    width: 100%;
    height: auto;
    background-color: green;
    padding: 3px 5px;
}
.fixturesDiv{
    padding-left: 10px;
}

.weekLa{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
}

.cdLBox{
    width: 100%;
    height: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: gray;
}
@media only  screen and (max-width:650px){
    .fixtContDiv{
        display: block;
    }
    .cdfix{
        margin-bottom: 10px;
    }
    .expdetail{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .upcomingDiv{
        width: 100%;
        margin-bottom: 20px;
    }
    .fixturesDiv table{
        width: 100%;
    }
    .fixturesDiv{
        width: 100%;
    }
  }
