
.nav {
  width: 99%;
  height: auto;
  background-color: rgb(44, 46, 49);
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
}
.brand {
  font-size: 14px;
  color: green;
  cursor: pointer;
  margin-left: 3px;
}
.logoox{
  width: 40px;
  height: 100%;
}
.logoDiv{
  display: flex;
  align-items: center;
}
.main {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.footer{
  width: 100%;
  height: auto;
  font-weight: 10;
  background-color: rgb(44, 46, 49);
  display: flex;
  color: white;
}
.botFesc1{
  width: 40%;
  height: 100%;
  padding: 10px;
  font-weight: 10;
}
.botFesc1 strong{
  color: white;

}
.botFesc2{
  width: 40%;
  height: 100%;
  padding: 10px;
}
.botFesc3{
  width: 40%;
  height: 100%;
  padding: 10px;
}
.linkDiv{
    display: flex;
}
.linkDiv ul{
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
}
.linkDiv ul li{
  margin-left: 20px;
  list-style: none;
  color: rgb(109, 129, 109);
  cursor: pointer;
}
.linkDiv ul li:hover{
  transform: scale(1.1);
  color: green;
  list-style: none;
}
.alinks{
  color: white;
  list-style: none;
}
.copywriteDiv{
  width: 100%;
  background-color: black;
  color: white;
}

@media only  screen and (max-width:650px){
  .nav {
    width: 100%;
    height: auto;
    background-color: rgb(44, 46, 49);
    border-radius: 0;
    display: block;
    padding: 5px;
  }
  .logoDiv{
    width: auto;
  }
  .brand {
    font-size: 20px;
    color: green;
    font-weight: 100;
    cursor: pointer;
  }
  .linkDiv ul{
    display: flex;
    padding: 0;
  }
}